* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  background-color:aliceblue;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px #747171;
  background-color: white;
}

.header > h1 {
  font-size: 30px;
  color: #b37e2e;
  margin-right: 12px;
  font-weight: 450;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header > i {
  font-size: 30px;
  color: #878383;
  margin-right: 12px;
}

main {
  padding: 10px 30px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 4px;
  border: 1px solid #878383;
  padding: 9px 20px;
  box-shadow: 0px 1px 2px 0px #747171;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  font-weight: 450;
  border-radius: 6px;
  border: none;
  background-color: #b37e2e;
  color: white;
  width: 170px;
  cursor: pointer;
}

.ingredients-container {
  margin-left: 20px;

}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 30px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 24px;
}

.get-recipe-container p {
  color: #4d525c;
  font-size: 0.92rem;
  font-weight: 450;
  line-height: 10px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #b37e2e;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 12px 20px;
  font-family: Inter, sans-serif;
  font-size: 0.95rem;
  cursor: pointer;
  margin-right: 20px;
}

.suggested-recipe-header {
  margin-left: 20px;
  margin-top: 55px;
}

.suggested-recipe-container {
  color: #484848;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 30px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}